@import "./src/styles/color";

.sidebar {
  height: 100vh;
  min-width: 210px;
  box-sizing: border-box;
  border-right: 2px solid $granite-gray;
  padding: 4px;
  justify-content: space-between;

  &-header {
    font-size: 16px;
    padding: 8px 8px 0;
  }
}
