.pointer {
  cursor: pointer;
}

.disable-selection {
  user-select: none;
}

.legendary {
  background: linear-gradient(180deg, #945c2c, #b27330);
}

.epic {
  background: linear-gradient(180deg, #5e5789, #9c75b7);
}
