@import "color";

.input {
  border: 1px solid rgba($white, 0.08);
  background-color: rgba($black, 0.15);
  height: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 0 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  caret-color: $white;
  color: rgba($white,.85);

  &:hover {
    border-color: rgba($white,.25);
  }
}
