<div *ngIf="defaultOption" class="flex-column-right disable-selection">
  <div class="dropdown-input pointer default-select-input flex-left" (click)="toggle()">
    <svg-icon src="./assets/images/icons/language.svg" [svgStyle]="{ 'width.px': 24, display: 'flex' }"></svg-icon>
    <div class="default-select-text">
      {{ selected | translate }}
    </div>
  </div>
  <div class="pointer dropdown-options default-select-options" *ngIf="openSelector" (clickOutside)="close()">
    <div *ngFor="let option of options" (click)="select(option)">
      {{ option.label | translate }}
    </div>
  </div>
</div>
