.default-select-input {
  width: 120px;
}

.default-select-options {
  margin-top: 8px;
  width: 120px;
}

.default-select-text {
  width: 100%;
  text-align: center;
}

svg-icon {
  margin-right: 4px;
}

