<form [formGroup]="form" (ngSubmit)="logIn()" class="authorization card flex-column-right">
  <tvt-email-input formField="login" label="page.authorization.email.label" placeholder="page.authorization.email.placeholder"></tvt-email-input>
  <tvt-password-input formField="password" label="page.authorization.password.label" placeholder="page.authorization.password.placeholder"></tvt-password-input>
  <tvt-default-link label="page.authorization.account-recovery" [src]="recoveryLink"></tvt-default-link>
  <tvt-default-btn [type]="btnType">{{ 'page.authorization.btn.sign-in' | translate }}</tvt-default-btn>
  <tvt-horizontal-divider label="page.authorization.divider.label"></tvt-horizontal-divider>
  <tvt-extended-fab-btn src="./assets/images/icons/google.svg" label="page.authorization.google.label"></tvt-extended-fab-btn>
  <div class="registration flex-center">
    <p>{{ 'page.authorization.registration.label' | translate }}</p>
    &nbsp;
    <tvt-default-link label="page.authorization.registration.link" [src]="registrationLink"></tvt-default-link>
  </div>
</form>
