<div class="registration card flex-column-right">
  <tvt-text-input label="page.registration.login.label" placeholder="page.registration.login.placeholder"></tvt-text-input>
  <tvt-email-input label="page.registration.email.label" placeholder="page.registration.email.placeholder"></tvt-email-input>
  <tvt-password-input label="page.registration.password.label" placeholder="page.registration.password.placeholder"></tvt-password-input>
  <tvt-password-input label="page.registration.password-repeat.label" placeholder="page.registration.password-repeat.placeholder"></tvt-password-input>
  <tvt-default-btn>{{ 'page.registration.btn.sign-up' | translate }}</tvt-default-btn>
  <tvt-horizontal-divider label="page.registration.divider.label"></tvt-horizontal-divider>
  <tvt-extended-fab-btn src="./assets/images/icons/google.svg" label="page.registration.google.label"></tvt-extended-fab-btn>
  <div class="authorization flex-center">
    <p>{{ 'page.registration.authorization.label' | translate }}</p>
    &nbsp;
    <tvt-default-link label="page.registration.authorization.link" [src]="authorizationLink"></tvt-default-link>
  </div>
</div>
